[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pyramid = "*"
alembic = "*"
ipdb = "*"
ipython = "*"
"psycopg2" = "*"
pytest = "*"
pytest-cov = "*"
sapp = "*"
webtest = "*"
celery = "*"
redis = "*"
bcrypt = "*"
uwsgi = "*"
marshmallow = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
