[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.2.12"
pyramid = "*"
alembic = "==1.0.0"
ipdb = "*"
ipython = "*"
"psycopg2" = "*"
pytest = "*"
pytest-cov = "*"
sapp = "*"
webtest = "*"
celery = "*"
redis = "*"
bcrypt = "*"
uwsgi = "*"
marshmallow = "==3.0.0b16"
pyjwt = "*"
undecorated = "*"
pyramid-ipython = "*"

[dev-packages]

[requires]
python_version = "3.7"
